@media (max-width: 768px) {

    .carousel-image-container {
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
    }

    .carousel-image {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    .game-container {
        margin: 0.6vw;
    }

    .game-image {
        width: 49vw;
        height: 69vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .game-button-clicked {
        background-color: #008cff;
    }

    .game-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 0.05rem;
        width: 49vw;
        background-color: #2f2f2f;
        color: #fff;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    
}