@media (max-width: 768px) {

    .game-container {
        margin: 0.6vw;
    }

    .game-image {
        width: 49vw;
        height: 69vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .game-button-clicked {
        background-color: #008cff;
    }

    .game-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: 0.05rem;
        width: 49vw;
        color: #fff;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    
}