@media (max-width: 768px) {

  .carousel-image-container {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
  }

  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(46vw, 1fr));
    background-color: #3f3f3f;
    max-height: 100%;
    overflow: auto;
  }

  .grid-container::-webkit-scrollbar {
    width: 0;
    display: none;
  }

}