@media (max-width: 768px) {

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(46vw, 1fr));
    background-color: #3f3f3f;
    max-height: 66vh;
    overflow-y: auto;
  }

  .grid-container::-webkit-scrollbar {
    width: 0;
    display: none;
  }

}