.nav-logo {
  max-width: 40px;
  max-height: auto;
  margin-right: 6px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}

.me-auto {
  font-size: 32px;
}

.game-item {
  font-size: 28px;
}